<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	
    <servlet>
	<servlet-name>ser</servlet-name>
	<servlet-class>Servlet1</servlet-class>
	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	<servlet-name>ser</servlet-name>
	<url-pattern>/servlet12</url-pattern>
	</servlet-mapping>

	<servlet>
	<servlet-name>ser1</servlet-name>
	<servlet-class>Servlet2</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>ser1</servlet-name>
	<url-pattern>/servlet2</url-pattern>
	</servlet-mapping>

        
	<servlet>
	<servlet-name>ser2</servlet-name>
	<servlet-class>Servlet3</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>ser2</servlet-name>
	<url-pattern>/servlet3</url-pattern>
	</servlet-mapping>

        <servlet>
	<servlet-name>ser3</servlet-name>
	<servlet-class>Servlet4</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>ser3</servlet-name>
	<url-pattern>/servlet4</url-pattern>
	</servlet-mapping>
</web-app>